@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.camptimer {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.BtnClass {
  margin: 3px;
}

.sidebar {
  overflow: "auto";
  height: "100vh";
  position: "fixed";
  padding: 15;
  width: "300";
}

.sidenav {
  height: 100vh;
  width: 300px;
  position: fixed;
  padding: 15;
  z-index: 1;
  background-color: #ffffff00;
  overflow-x: hidden;
}

.white_sidenav{
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 10px 10px 0;
}

.right{
  right: 0;
}

.left{
  left: 0;
  
}