@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.camptimer {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.BtnClass {
  margin: 3px;
}

.sidebar {
  overflow: "auto";
  height: "100vh";
  position: "fixed";
  padding: 15;
  width: "300";
}

.sidenav {
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 1;
  background-color: #ffffff00;
  overflow-x: hidden;
}

.white_sidenav{
  background: #fff;
  
  padding-top: 10px;
  padding-bottom: 10px;
  
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.07);
}

.shadowbox{
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.07);
}

.right{
  right: 0;
  margin-left: 10px;
  border-radius: 10px 0 0 10px;
}

.left{
  left: 0;
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
}

.point_d{
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}