.banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 40px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: flex;
}

.bannerTitle{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 550px;
    flex: 0 0 550px;
    padding-right: 50px;
}

.bannerImgWrap{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    z-index: 1;
    border-radius: 7px;
    font-size: 20px;
    margin: 0 0 16px;
    color: var(--colors-primary);
    font-weight: 600;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
    max-width: 100%;
}