.demo-infinite-container {
    overflow: auto;
    height: 200px;
    padding-right: 15px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }